@mixin shape-modifiers {
	&--parallelogram-left {
		transform: skew(20deg);
	}

	&--parallelogram-right {
		transform: skew(-20deg);
	}

	&--circle {
		border-radius: 50%;
	}

	&--diamond {
		transform: rotate(45deg);
	}
}

@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1280px) {
		@content;
	}
}