@use "./partials/mixins" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
main,
.drawing-area {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Roboto Mono";
	letter-spacing: 0.125rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #eee;
}

.title {
	display: none;
	margin: 0;
	padding-right: 2rem;
	font-size: 1.5rem;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 0;

	@include tablet {
		display: block;
	}
}

.controls {
	position: relative;
	width: 100%;
	display: flex;
	height: 5rem;
	background: linear-gradient(90deg, #1c1c1c, #272727);
	align-items: center;
	justify-content: center;
	@include tablet {
		gap: 3rem;
	}

	&__container {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0 0.5rem;
		border-radius: 0.75rem;
		height: 3rem;
		@include tablet {
			padding: 0 1rem;
			background-color: #393939;
		}
	}

	&__heading {
		display: none;
		@include desktop {
			display: inline;
		}
	}
}

.button {
	color: inherit;
	outline: none;
	border: none;
	background-color: #444;
	border-bottom: 0.125rem solid #222;
	border-radius: 0.35rem;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(0.125rem);
	width: 2rem;
	height: 2rem;
	@include tablet {
		background-color: #2c2c2c;
		border-bottom: 0.1875rem solid #191919;
		width: 2.25rem;
		height: 2.125rem;
	}

	&:active {
		background-color: #292933;
		border-bottom: 0.125rem solid #191929;
	}

	&__icon {
		width: 1rem;
		height: 1rem;
		border: 2px solid #eee;
		@include shape-modifiers;
	}

	&--selected {
		background-color: #5500ee;
		border-color: #330099;
	}
}

.drawing-area {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	// height: 90%;
	border: 2px solid black;
	background-color: #191919;
	background: linear-gradient(#111, #151515);

	&::after {
		content: "Click around in this area!";
		position: absolute;
		background-color: #000;
		z-index: 1000;
	}
}

.shape {
	position: absolute;
	opacity: 0.6;
	@include shape-modifiers;

	&:hover {
		opacity: 0.8;
	}

	&--selected {
		opacity: 1;
	}
	&--selected:hover {
		opacity: 1;
	}
}

.preview {
	transition: transform 0.25s, border 0.25s;
	width: 1.75rem;
	height: 1.75rem;
	border: 5px solid #ff0000;
	opacity: 0.6;
	@include shape-modifiers;
}
